<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <bean id="brokerConfig" class="pers.cy.iris.broker.BrokerConfig">
        <property name="nettyServerConfig" ref="nettyServerConfig"/>
        <property name="metaConfig"  ref="metaConfig"/>
    </bean>

    <bean id="brokerService" class="pers.cy.iris.broker.BrokerService" destroy-method="stop">
        <property name="brokerConfig" ref="brokerConfig"/>
    </bean>

    <bean id="metaConfig" class="pers.cy.iris.broker.MetaManager.MetaConfig">
        <property name="connectionString"  value="${meta.zookeeper.connectionString}"/>
        <property name="connectionTimeout"  value="${meta.zookeeper.connectionTimeout}"/>
        <property name="sessionTimeout"  value="${meta.zookeeper.sessionTimeout}"/>
        <property name="nameSpace"  value="${meta.zookeeper.nameSpace}"/>
        <property name="zookeeperBaseSleepTimeMs" value="${meta.zookeeper.retry.baseSleepTimeMs}"/>
        <property name="zookeeperMaxRetries" value="${meta.zookeeper.retry.maxRetries}"/>
    </bean>


</beans>