<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	">



    <bean id="store" class="pers.cy.iris.broker.store.DiskFileStore">
        <property name="storeConfig" ref="diskFileStoreConfig"/>
    </bean>

    <bean id="diskFileStoreConfig" class="pers.cy.iris.broker.store.DiskFileStoreConfig">
        <property name="journalFileSize" value="${store.journalFileSize}"/>
        <property name="dataDirectory" value="${store.dataDirectory}"/>
    </bean>

    <bean id="diskFileStore" class="pers.cy.iris.broker.store.DiskFileStore"/>


</beans>