<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <bean id="coordinatorConfig" class="pers.cy.iris.coordinator.CoordinatorConfig">
        <property name="nettyServerConfig" ref="nettyServerConfig"/>
        <property name="connectionString"  value="localhost:2181"/>
    </bean>

    <bean id="coordinatorService" class="pers.cy.iris.coordinator.CoordinatorService" destroy-method="stop">
        <property name="coordinatorConfig" ref="coordinatorConfig"/>
    </bean>


</beans>