<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- @BeforeSuite -->
<suite name="TestAll">

    <!-- @BeforeTest -->
    <test name="case1">
        <classes>
            <class name="pers.cy.iris.broker.store.file.TestChannelFile" />
        </classes>
    </test>
    <!-- @AfterTest -->

</suite>